<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZOZ9C_JuOhz6fVeCtZ3XYUuuxIWuE-nQ</string>
	<key>GCM_SENDER_ID</key>
	<string>754534998239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.internationalCuisine</string>
	<key>PROJECT_ID</key>
	<string>internationalcuisine-31b41</string>
	<key>STORAGE_BUCKET</key>
	<string>internationalcuisine-31b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754534998239:ios:23c047d63e0336d4d1096a</string>
	<key>DATABASE_URL</key>
	<string>https://internationalcuisine-31b41-default-rtdb.firebaseio.com</string>
</dict>
</plist>